<configuration debug="true">
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>
                %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
            </Pattern>
        </encoder>
</appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>testSin.log</file>
        <append>true</append>
        <!-- set immediateFlush to false for much higher logging throughput -->
        <immediateFlush>true</immediateFlush>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <root level="${ROOT_LOG_LEVEL:-DEBUG}">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="CalcMainOptimize" additivity="false" level="info">
        <appender-ref ref="FILE"/>
    </logger>

</configuration>

